# data artifacts
data/processed/
*.duckdb
*.parquet
*.csv

# trained models & reports
models/
reports/
*.joblib

# python cache
__pycache__/
*.pyc

# notebooks checkpoints
.ipynb_checkpoints/

# OS / editor noise
.DS_Store
.vscode/
